SSH_HOST='example-host'
SSH_PORT='22'
SSH_USER='dev'
SSH_KEY_PATH=''

REMOTE_TOOLBOX_HOME=''
REMOTE_TOOLBOX_DATA_DIR=''
REMOTE_TOOLBOX_CACHE_DIR=''

TBCLI_VERSION='3.5.0.73530'
TB_JAVA_HOME=''

# yes: remote host downloads tbcli itself
# no: this script uploads a local tbcli archive to the remote host
REMOTE_HAS_INTERNET='yes'

# Optional path to a pre-downloaded local tbcli archive.
# Used only when REMOTE_HAS_INTERNET='no'.
# Example:
# LOCAL_TBCLI_ARCHIVE_PATH="$HOME/Downloads/tbcli-3.5.0.73530.tar.gz"
LOCAL_TBCLI_ARCHIVE_PATH=''

# Optional command on the remote host that prints a join link like:
# tcp://127.0.0.1:5990#jt=...
REMOTE_JOIN_LINK_COMMAND=''

# Optional colon-separated list of roots for searching remote idea.log files
REMOTE_IDEA_LOG_ROOTS=''
